// generazione delle 3 classi dei bottoni
$counter: 0; //counter per diversificare ogni button

@each $color in $btnColor {
   $counter: $counter+1;
  .btn-color#{$counter} {
    background-color: $color;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $text-color;
    margin-right: 20px;
  }
}