// font-family
$font-family: 'Roboto', sans-serif;

// font-weigth
$weight-normal: 400;
$weight-bold: 700;

// font-size
$size-xs: 12px; 
$size-s: 16px; 
$size-m: 20px;
$size-l: 28px;
$size-xl: 36px;
$size-xxl: 56px;